*, *:after, *:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Titillium Web', sans-serif;
}

body {
	background: #3a3a3a;
	background-image: url('images/background_pattern2.png');
	background-size: 400px;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
}

a, a:visited {
	font-weight: 600;
	color: #f6cc4a;
	text-decoration: none;
}

a:hover, a:active {
	color: #fde393;
}

h1 {
	font-size: 2em;
	font-weight: 700;
}

h2 {
	font-size: 1.5em;
	font-weight: 600;
}

strong {
	font-weight: 600;
}

p {
	font-size: 1em;
	margin: 0 0 1rem 0;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1d1d1d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f6cc4a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

/*--------------------HEADER-------*/

header {
	background: #545454;
	display: flex;
	justify-content: center;
	width: 100%;
	position: fixed;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	z-index: 9999;
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

header:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

nav {
	width: 100%;
	max-width: 1024px;
	display: flex;
	justify-content: flex-start;
}

nav a {
	padding: 1rem 2rem;
	position: relative;
	transition: all 150ms;
	border-right: 2px solid #3a3a3a;
	display: flex;
	flex-direction: row;
	align-items: center;
}

nav a:first-of-type {
	border-left: 2px solid #3a3a3a;
}

nav a:nth-child(6) {
	margin-left: auto;
	border-left: 2px solid #3a3a3a;
}

nav a:hover {
	color: #3a3a3a;
	background: #f6cc4a;
}

nav a:after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: 0;
	width: auto;
	transform: translateX(-50%);
	border-left: 55px solid transparent;
	border-right: 55px solid transparent;
	border-bottom: 15px solid #545454;
	transition: all 250ms;
}

nav a:hover:after {
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 10px solid #2d2d2d;
}

nav a.icon {
	display: none;
}

/*--------------------SECTIONS-------*/

section {
	max-width: 1024px;
	width: 100%;
	padding: 0;
	margin: 0 0 2rem 0;
}

section:first-of-type {
	padding-top: 80px;
}

section > h1, .table > h1 {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0;
	background: #1d1d1d;
	padding: 1rem;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	position: sticky;
	top: 56px;
	z-index: 1;
}

h1 > svg {
	width: 1em;
	height: 1em;
	fill: #fff;
	margin: 0 0 0 1rem;
}

#maps {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	margin: 0;
}

#maps h1 {
	margin: 0 0 1rem 0;
}

.map_list {
	background: #f6cc4a;
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	margin: 0 0 2rem 0;
	width: 32%;
}

.map_list:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	transform: translate(0,-.5rem);
}

.map_list:hover video {
    opacity: 1;
}

.map_list video {
	opacity: 0;
	transition: all 250ms;
}

.map_list.full_width {
	width: 100%;
}

.map_title {
	border-radius: 5px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	width: 100%;
	height: 160px;
	position: relative;
	overflow: hidden;
}

.map_list h2 {
	text-align: center;
	background: rgba(0,0,0,.2);
	text-transform: uppercase;
	/*z-index: 999;*/
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	text-shadow: 1px 1px 10px rgba(0,0,0,.6);
	font-size: 2em;
}

.map_list:nth-of-type(1) .map_title {
	background: url(images/customs_thumb.png) center;
}

.map_list:nth-of-type(2) .map_title {
	background: url(images/factory_thumb.png) center;
}

.map_list:nth-of-type(3) .map_title {
	background: url(images/interchange_thumb.png) center;
}

.map_list:nth-of-type(4) .map_title {
	background: url(images/lab_thumb.png) center;
}

.map_list:nth-of-type(5) .map_title {
	background: url(images/reserve_thumb.png) center;
}

.map_list:nth-of-type(6) .map_title {
	background: url(images/shoreline_thumb.png) center;
}

.map_list:nth-of-type(7) .map_title {
	background: url(images/woods_thumb.png) center;
}

a.map_listing {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	background: #3a3a3a;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

a.map_listing:hover {
	transform: translate(10px);
}

a.map_listing:nth-child(odd) {
	background: #545454;
}

.map_name_date {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 0 0.5rem 0;
}

p.map_name {
	margin: 0 1rem 0 0;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	box-shadow: 0 0px 0px rgba(0,0,0,0.12), 0 0px 0px rgba(0,0,0,0.24);
}

a.map_listing p.map_name:before {
	content: "";
	-webkit-mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512.092 512.092' style='enable-background:new 0 0 512.092 512.092;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M312.453,199.601c-6.066-6.102-12.792-11.511-20.053-16.128c-19.232-12.315-41.59-18.859-64.427-18.859 c-31.697-0.059-62.106,12.535-84.48,34.987L34.949,308.23c-22.336,22.379-34.89,52.7-34.91,84.318 c-0.042,65.98,53.41,119.501,119.39,119.543c31.648,0.11,62.029-12.424,84.395-34.816l89.6-89.6 c1.628-1.614,2.537-3.816,2.524-6.108c-0.027-4.713-3.87-8.511-8.583-8.484h-3.413c-18.72,0.066-37.273-3.529-54.613-10.581 c-3.195-1.315-6.867-0.573-9.301,1.877l-64.427,64.512c-20.006,20.006-52.442,20.006-72.448,0 c-20.006-20.006-20.006-52.442,0-72.448l108.971-108.885c19.99-19.965,52.373-19.965,72.363,0 c13.472,12.679,34.486,12.679,47.957,0c5.796-5.801,9.31-13.495,9.899-21.675C322.976,216.108,319.371,206.535,312.453,199.601z' /%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M477.061,34.993c-46.657-46.657-122.303-46.657-168.96,0l-89.515,89.429c-2.458,2.47-3.167,6.185-1.792,9.387 c1.359,3.211,4.535,5.272,8.021,5.205h3.157c18.698-0.034,37.221,3.589,54.528,10.667c3.195,1.315,6.867,0.573,9.301-1.877 l64.256-64.171c20.006-20.006,52.442-20.006,72.448,0c20.006,20.006,20.006,52.442,0,72.448l-80.043,79.957l-0.683,0.768 l-27.989,27.819c-19.99,19.965-52.373,19.965-72.363,0c-13.472-12.679-34.486-12.679-47.957,0 c-5.833,5.845-9.35,13.606-9.899,21.845c-0.624,9.775,2.981,19.348,9.899,26.283c9.877,9.919,21.433,18.008,34.133,23.893 c1.792,0.853,3.584,1.536,5.376,2.304c1.792,0.768,3.669,1.365,5.461,2.048c1.792,0.683,3.669,1.28,5.461,1.792l5.035,1.365 c3.413,0.853,6.827,1.536,10.325,2.133c4.214,0.626,8.458,1.025,12.715,1.195h5.973h0.512l5.12-0.597 c1.877-0.085,3.84-0.512,6.059-0.512h2.901l5.888-0.853l2.731-0.512l4.949-1.024h0.939c20.961-5.265,40.101-16.118,55.381-31.403 l108.629-108.629C523.718,157.296,523.718,81.65,477.061,34.993z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
    mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512.092 512.092' style='enable-background:new 0 0 512.092 512.092;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M312.453,199.601c-6.066-6.102-12.792-11.511-20.053-16.128c-19.232-12.315-41.59-18.859-64.427-18.859 c-31.697-0.059-62.106,12.535-84.48,34.987L34.949,308.23c-22.336,22.379-34.89,52.7-34.91,84.318 c-0.042,65.98,53.41,119.501,119.39,119.543c31.648,0.11,62.029-12.424,84.395-34.816l89.6-89.6 c1.628-1.614,2.537-3.816,2.524-6.108c-0.027-4.713-3.87-8.511-8.583-8.484h-3.413c-18.72,0.066-37.273-3.529-54.613-10.581 c-3.195-1.315-6.867-0.573-9.301,1.877l-64.427,64.512c-20.006,20.006-52.442,20.006-72.448,0 c-20.006-20.006-20.006-52.442,0-72.448l108.971-108.885c19.99-19.965,52.373-19.965,72.363,0 c13.472,12.679,34.486,12.679,47.957,0c5.796-5.801,9.31-13.495,9.899-21.675C322.976,216.108,319.371,206.535,312.453,199.601z' /%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M477.061,34.993c-46.657-46.657-122.303-46.657-168.96,0l-89.515,89.429c-2.458,2.47-3.167,6.185-1.792,9.387 c1.359,3.211,4.535,5.272,8.021,5.205h3.157c18.698-0.034,37.221,3.589,54.528,10.667c3.195,1.315,6.867,0.573,9.301-1.877 l64.256-64.171c20.006-20.006,52.442-20.006,72.448,0c20.006,20.006,20.006,52.442,0,72.448l-80.043,79.957l-0.683,0.768 l-27.989,27.819c-19.99,19.965-52.373,19.965-72.363,0c-13.472-12.679-34.486-12.679-47.957,0 c-5.833,5.845-9.35,13.606-9.899,21.845c-0.624,9.775,2.981,19.348,9.899,26.283c9.877,9.919,21.433,18.008,34.133,23.893 c1.792,0.853,3.584,1.536,5.376,2.304c1.792,0.768,3.669,1.365,5.461,2.048c1.792,0.683,3.669,1.28,5.461,1.792l5.035,1.365 c3.413,0.853,6.827,1.536,10.325,2.133c4.214,0.626,8.458,1.025,12.715,1.195h5.973h0.512l5.12-0.597 c1.877-0.085,3.84-0.512,6.059-0.512h2.901l5.888-0.853l2.731-0.512l4.949-1.024h0.939c20.961-5.265,40.101-16.118,55.381-31.403 l108.629-108.629C523.718,157.296,523.718,81.65,477.061,34.993z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
    background-color: #f6cc4a;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    padding: 0.5rem;
    height: 1rem;
    width: 1rem;
    margin: 0 0.5rem 0 0;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

a.map_listing:hover p.map_name:before {
	background-color: #fde393;
}

p.map_desc {
	font-size: 0.8em;
	margin: 0;
	color: #fff;
}

p.map_date {
	font-size: 0.8em;
	margin: 0;
	color: #fff;
}

.map_footer {
	text-align: center;
	font-size: 0.8em;
	width: 100%;
	display: flex;
}

.map_footer a {
	width: 100%;
	padding: 0.5rem;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	background: #1d1d1d;
}

.map_footer a:hover {
	color: #3a3a3a;
	background: #f6cc4a;
}

.table {
	display: flex;
	flex-direction: column;
	width: 100%;
	background: #3a3a3a;
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.table:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.table > h1 {
	box-shadow: none;
}

.theaders {
	display: flex;
	width: 100%;
	font-weight: 600;
	font-size: 1.2em;
	padding: 0.5rem 1rem;
}

.theaders div, .trow div {
	width: 25%;
}

.tbody {

}

.trow {
	display: flex;
	width: 100%;
	border-radius: 5px;
	padding: 0.5rem 1rem;
}

.tfooter {
	width: 100%;
	height: 1rem;
	background: #1d1d1d;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.trow:nth-child(odd) {
	background: #545454;
}

.guide_name {
	text-align: left;
}

.guide_date, .guide_author {
	text-align: right;
}


/*--------------------MOBILE-------*/

@media screen and (max-width: 1000px) {
	nav.nav {
		flex-direction: row;
		align-items: center;
	}
	nav.nav.responsive {
		flex-direction: column;
	}
	nav a {
		border: none;
		/*border-bottom: 2px solid #3a3a3a;*/
		width: 100%;
		text-align: center;
		flex-direction: column;
	}
	.nav.responsive a {
		border: none;
		border-bottom: 2px solid #3a3a3a;
	}
	nav a:not(:first-child) {
		display: none;
	}
	nav a.icon {
		display: flex;
	}
	nav.responsive a {
		display: flex;
	}
	section {
		flex-direction: column;
		padding: 0.5rem;
	}

	.map_list {
		width: 100%;
	}
}