*, *:after, *:before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Titillium Web', sans-serif;
}

body {
	background: #3a3a3a;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
}

a, a:visited {
	font-weight: 600;
	color: #f6cc4a;
	text-decoration: none;
}

a:hover, a:active {
	color: #fde393;
}

h1 {
	font-size: 2em;
	font-weight: 700;
}

h2 {
	font-size: 1.5em;
	font-weight: 600;
}

strong {
	font-weight: 600;
}

p {
	font-size: 1em;
	margin: 0 0 1rem 0;
}

/*--------------------HEADER-------*/

header {
	background: #545454;
	display: flex;
	justify-content: center;
	width: 100%;
	position: fixed;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	z-index: 9999;
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

header:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

nav {
	width: 100%;
	max-width: 1024px;
	display: flex;
	justify-content: flex-start;
}

nav a {
	padding: 1rem 2rem;
	position: relative;
	transition: all 150ms;
	border-right: 2px solid #3a3a3a;
	display: flex;
	flex-direction: row;
	align-items: center;
}

nav a:first-of-type {
	border-left: 2px solid #3a3a3a;
}

nav a:nth-child(6) {
	margin-left: auto;
	border-left: 2px solid #3a3a3a;
}

nav a:hover {
	color: #3a3a3a;
	background: #f6cc4a;
}

nav a:after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: 0;
	width: auto;
	transform: translateX(-50%);
	border-left: 55px solid transparent;
	border-right: 55px solid transparent;
	border-bottom: 15px solid #545454;
	transition: all 250ms;
}

nav a:hover:after {
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 10px solid #2d2d2d;
}

nav a.icon {
	display: none;
}

/*--------------------SECTIONS-------*/

section {
	max-width: 1024px;
	width: 100%;
	padding: 0;
	margin: 0 0 2rem 0;
}

section:first-of-type {
	padding-top: 80px;
}

section > h1, .table > h1 {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0;
	background: #1d1d1d;
	padding: 1rem;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	position: sticky;
	top: 56px;
}

h1 > svg {
	width: 1em;
	height: 1em;
	fill: #fff;
	margin: 0 0 0 1rem;
}

#maps {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	margin: 0;
}

#maps h1 {
	margin: 0 0 1rem 0;
}

.map_list {
	background: #545454;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  	margin: 0 0 2rem 0;
	width: 32%;
}

.map_list:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.map_title {
	border-radius: 5px;
	padding: 2rem 0;
}

.map_list h2 {
	text-align: center;
	background: #000000a8;
	text-transform: uppercase;
}

.map_list:nth-of-type(1) .map_title {
	background: url(images/customs_thumb.png) center;
}

.map_list:nth-of-type(2) .map_title {
	background: url(images/factory_thumb.png) center;
}

.map_list:nth-of-type(3) .map_title {
	background: url(images/interchange_thumb.png) center;
}

.map_list:nth-of-type(4) .map_title {
	background: url(images/lab_thumb.png) center;
}

.map_list:nth-of-type(5) .map_title {
	background: url(images/reserve_thumb.png) center;
}

.map_list:nth-of-type(6) .map_title {
	background: url(images/shoreline_thumb.png) center;
}

.map_list:nth-of-type(7) .map_title {
	background: url(images/woods_thumb.png) center;
}

.map_listing {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	background: #3a3a3a;
}

.map_listing:nth-child(odd) {
	background: #444444;
}

.map_name_date {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 0 0.5rem 0;
}

a.map_name {
	margin: 0 1rem 0 0;
	display: flex;
	background: #3a3a3a;
	padding: 0.3rem 0.6rem;
	color: #f6cc4a;
	border: 1px solid #f6cc4a;
	border-radius: 5px;
	box-shadow: 0 0px 0px rgba(0,0,0,0.12), 0 0px 0px rgba(0,0,0,0.24);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	/*transition: all 250ms;*/
}

a.map_name:hover {
	border-color: #0000;
	color: #3a3a3a;
	background: #f6cc4a;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

p.map_desc {
	font-size: 0.8em;
	margin: 0;
}

p.map_date {
	font-size: 0.8em;
	margin: 0;
}

.map_footer {
	text-align: center;
	font-size: 0.8em;
	width: 100%;
	display: flex;
}

.map_footer a {
	width: 100%;
	padding: 0.5rem;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	transition: all 250ms;
}

.map_footer a:hover {
	color: #3a3a3a;
	background: #f6cc4a;
}

.table {
	display: flex;
	flex-direction: column;
	width: 100%;
	background: #3a3a3a;
	border-radius: 10px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.table:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.table > h1 {
	box-shadow: none;
}

.theaders {
	display: flex;
	width: 100%;
	font-weight: 600;
	font-size: 1.2em;
	padding: 0.5rem 1rem;
}

.theaders div, .trow div {
	width: 25%;
}

.trow {
	display: flex;
	width: 100%;
	border-radius: 5px;
	padding: 0.5rem 1rem;
}

.tfooter {
	width: 100%;
	height: 1rem;
	background: #1d1d1d;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.trow:nth-child(odd) {
	background: #545454;
}

.guide_name {
	text-align: left;
}

.guide_date, .guide_author {
	text-align: right;
}

/*--------------------MOBILE-------*/

@media screen and (max-width: 1000px) {
	nav.nav {
		flex-direction: row;
		align-items: center;
	}
	nav.nav.responsive {
		flex-direction: column;
	}
	nav a {
		border: none;
		/*border-bottom: 2px solid #3a3a3a;*/
		width: 100%;
		text-align: center;
		flex-direction: column;
	}
	.nav.responsive a {
		border: none;
		border-bottom: 2px solid #3a3a3a;
	}
	nav a:not(:first-child) {
		display: none;
	}
	nav a.icon {
		display: flex;
	}
	nav.responsive a {
		display: flex;
	}
	section {
		flex-direction: column;
		padding: 0.5rem;
	}

	.map_list {
		width: 100%;
	}
}